@{
    ViewBag.Title = "EditEmployee";
}

<h2>EditEmployee</h2>

<div id="root" data-param="@ViewBag.id" data-type="Read"></div>

@section scripts{

    <script src="~/scripts/react/dynamic.js"></script>
}