
@{
    ViewBag.Title = "Employee";
}

<h2>@ViewBag.type Employee</h2>

<div id="root" data-param="@ViewBag.id" data-type="@ViewBag.type"></div>

@section scripts{

    <script src="~/scripts/react/dynamic.js" ></script>
}

