@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Rua Sousa Viterbo<br />
    <abbr title="Phone">P:</abbr>
    +351 927012099
</address>

<address>
    <strong>Developer:</strong>   <a href="mailto:luisfbgomes@gmail.com">luisfbgomes@gmail.com</a><br />
</address>